body {
    background: rgb(20, 45, 99);
}

.rose {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

#whatamigoingtodo {
    color: white;
    font-family: 'Mate SC', sans-serif;
    

}

h3 {
    color: white;
}

a:link {
    font-family: 'Limelight', cursive;
    color: white;
}
    a:hover {
        color: rgb(20, 45, 99);
    }
a:visited {
    font-family: 'Limelight', cursive;
    color: orange;
}
    a:hover {
        color: rgb(20, 45, 99);
    }

.navmenuone {
    width: 100%;
    overflow: auto;
    background: rgb(5, 34, 66);
}

.navmenuone a {
    float: left;
    padding: 12px;
    font-size: 17px;
    width: 6%;
    text-align: center;
}