body {
    background: url(https://i.pinimg.com/originals/16/6b/0c/166b0c5b64ffb3121f3505b714b3ef88.jpg);
    font-family: 'Limelight', sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepageheader {
    color: white;
    font-family: 'Limelight', sans-serif;
    font-size: 50px;
    margin: 0px;
    margin-right: 0px;
    margin-left: 30px;
}

li:first-child {
    color: white;
}
li:nth-child(2) {
    color: white;
}

a:link {
    font-family: 'Limelight', cursive;
    color: white;
}
    a:hover {
        color: rgb(79, 135, 238);
    }
a:visited {
    font-family: 'Limelight', cursive;
    color: #618685;
}
    a:hover {
        color: rgb(79, 135, 238);
    }
.homelink {text-decoration: none;}

.navmenu {
    width: 100%;
    overflow: auto;
    background: rgb(5, 34, 66);
}

.navmenu a {
    float: left;
    padding: 12px;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

.firstdescription {
    text-align: center;
    font-size: 30px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}

.bookimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.mainarticle {
    font-family: 'Mate SC', sans-serif;
}

.footerthanks {
    font-family: 'Limelight', sans-serif;
    text-align: center;
    font-size: 50px;
}

.homepagesub {
    font-family: 'Limelight', sans-serif;
    color: white;
    margin-left: 30px;
}

p {
    color: white;
}

h3 {
    color: white;
}

.sectionone {
    text-align: center;
}

.sectiontwo {
    text-align: center;
}

section {
    text-align: center;
}

.line {
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

hr {
    border-color: white;
    border-width: 3px;
    border-style: solid;
}