body {
    background: rgb(20, 45, 99);
    font-family: 'Limelight', sans-serif;
}

.origstory {
    text-align: center;
    font-family: 'Limelight', sans-serif;
    color: white;
    font-size: 50px;
}