body {
    background: url(https://i.pinimg.com/originals/16/6b/0c/166b0c5b64ffb3121f3505b714b3ef88.jpg);
    font-family: 'Limelight', sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.rose {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

#rosewiththorns {
    color: white;
    font-family: 'Mate SC', sans-serif;
}

h3 {
    color: white;
}

a:link {
    font-family: 'Limelight', cursive;
    color: white;
}
    a:hover {
        color: rgb(20, 45, 99);
    }
a:visited {
    font-family: 'Limelight', cursive;
    color: #618685;
}
    a:hover {
        color: rgb(20, 45, 99);
    }

.navmenu {
    width: 100%;
    overflow: auto;
    background: rgb(5, 34, 66);
}

.navmenu a {
    float: left;
    padding: 12px;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

#mainstory {
    color: white;
    font-family: 'Mate SC', sans-serif;
}